In [20]:
import numpy as np # for linear algebra
import pandas as pd # data processing, CSV file I/O, etc
import seaborn as sns # for plots
import plotly.graph_objects as go # for plots
import plotly.express as px #for plots
import matplotlib.pyplot as plt # for visualizations and plots

# this eliminates the requirement to use plt.show() after every plot
%matplotlib inline

# changing the default figure sizes
from pylab import rcParams
rcParams['figure.figsize'] = 15, 10

import random # random library
pallete = ['Accent_r', 'Blues', 'BrBG', 'BrBG_r', 'BuPu', 'CMRmap', 'CMRmap_r', 'Dark2', 'Dark2_r', 'GnBu', 'GnBu_r', 'OrRd', 'Oranges', 'Paired', 'PuBu', 'PuBuGn', 'PuRd', 'Purples', 'RdGy_r', 'RdPu', 'Reds', 'autumn', 'cool', 'coolwarm', 'flag', 'flare', 'gist_rainbow', 'hot', 'magma', 'mako', 'plasma', 'prism', 'rainbow', 'rocket', 'seismic', 'spring', 'summer', 'terrain', 'turbo', 'twilight']

import os

In [21]:
df = pd.read_csv("raw/diabetes_binary_health_indicators_BRFSS2015.csv")
df.head() # displays the top 5 values in the dataset

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_binary       253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   HeartDiseaseorAttack  253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

In [23]:
df.describe()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,...,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,0.139333,0.429001,0.424121,0.962670,28.382364,0.443169,0.040571,0.094186,0.756544,0.634256,...,0.951053,0.084177,2.511392,3.184772,4.242081,0.168224,0.440342,8.032119,5.050434,6.053875
std,0.346294,0.494934,0.494210,0.189571,6.608694,0.496761,0.197294,0.292087,0.429169,0.481639,...,0.215759,0.277654,1.068477,7.412847,8.717951,0.374066,0.496429,3.054220,0.985774,2.071148
min,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,1.000000,24.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000,5.000000
50%,0.000000,0.000000,0.000000,1.000000,27.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,8.000000,5.000000,7.000000
75%,0.000000,1.000000,1.000000,1.000000,31.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,3.000000,2.000000,3.000000,0.000000,1.000000,10.000000,6.000000,8.000000
max,1.000000,1.000000,1.000000,1.000000,98.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,5.000000,30.000000,30.000000,1.000000,1.000000,13.000000,6.000000,8.000000

In [24]:
df.isnull().sum()

Diabetes_binary         0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

In [25]:
df.duplicated().sum()

np.int64(24206)

## Data Cleaning
In the above stats we can see that there are duplicate but that are common for large survey, we are going to drop some column we don't need

In [26]:
# combine Fruits and Veggies
df['Fruits_or_Veggies'] = (
    (df['Fruits'] == 1) | 
    (df['Veggies'] == 1)
).astype(int)

# remove unused column
df_cleaned = df.drop(columns=['CholCheck', 'Stroke', 'HeartDiseaseorAttack', 'DiffWalk', 'MentHlth', 'PhysHlth', 'Fruits', 'Veggies'])
# print(df_cleaned.head().to_csv(index=False))
df_cleaned.head()

,Diabetes_binary,HighBP,HighChol,BMI,Smoker,PhysActivity,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,Sex,Age,Education,Income,Fruits_or_Veggies
0,0.0,1.0,1.0,40.0,1.0,0.0,0.0,1.0,0.0,5.0,0.0,9.0,4.0,3.0,1
1,0.0,0.0,0.0,25.0,1.0,1.0,0.0,0.0,1.0,3.0,0.0,7.0,6.0,1.0,0
2,0.0,1.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,5.0,0.0,9.0,4.0,8.0,1
3,0.0,1.0,0.0,27.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,11.0,3.0,6.0,1
4,0.0,1.0,1.0,24.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,11.0,5.0,4.0,1

In [27]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Diabetes_binary    253680 non-null  float64
 1   HighBP             253680 non-null  float64
 2   HighChol           253680 non-null  float64
 3   BMI                253680 non-null  float64
 4   Smoker             253680 non-null  float64
 5   PhysActivity       253680 non-null  float64
 6   HvyAlcoholConsump  253680 non-null  float64
 7   AnyHealthcare      253680 non-null  float64
 8   NoDocbcCost        253680 non-null  float64
 9   GenHlth            253680 non-null  float64
 10  Sex                253680 non-null  float64
 11  Age                253680 non-null  float64
 12  Education          253680 non-null  float64
 13  Income             253680 non-null  float64
 14  Fruits_or_Veggies  253680 non-null  int64
dtypes: float64(14), int64(1)
memory usage: 29.0 MB

In [28]:
df_cleaned.describe()

,Diabetes_binary,HighBP,HighChol,BMI,Smoker,PhysActivity,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,Sex,Age,Education,Income,Fruits_or_Veggies
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,0.139333,0.429001,0.424121,28.382364,0.443169,0.756544,0.056197,0.951053,0.084177,2.511392,0.440342,8.032119,5.050434,6.053875,0.883109
std,0.346294,0.494934,0.494210,6.608694,0.496761,0.429169,0.230302,0.215759,0.277654,1.068477,0.496429,3.054220,0.985774,2.071148,0.321291
min,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000
25%,0.000000,0.000000,0.000000,24.000000,0.000000,1.000000,0.000000,1.000000,0.000000,2.000000,0.000000,6.000000,4.000000,5.000000,1.000000
50%,0.000000,0.000000,0.000000,27.000000,0.000000,1.000000,0.000000,1.000000,0.000000,2.000000,0.000000,8.000000,5.000000,7.000000,1.000000
75%,0.000000,1.000000,1.000000,31.000000,1.000000,1.000000,0.000000,1.000000,0.000000,3.000000,1.000000,10.000000,6.000000,8.000000,1.000000
max,1.000000,1.000000,1.000000,98.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,1.000000,13.000000,6.000000,8.000000,1.000000

## Features Engineering

In [29]:
# 1. Create composite scores (similar to your PIMA approach)
df_cleaned['Behavioral_Risk_Score'] = (
    (df_cleaned['PhysActivity'] == 0).astype(int) +  # No exercise
    (df_cleaned['Smoker'] == 1).astype(int) +        # Smoker
    (df_cleaned['HvyAlcoholConsump'] == 1).astype(int) + # Heavy drinker
    (df_cleaned['Fruits_or_Veggies'] == 0).astype(int)
)

# 2. BMI Categories (match PIMA)
df_cleaned['BMI_Category'] = pd.cut(df_cleaned['BMI'], 
                                            bins=[0, 18.5, 25, 30, 100],
                                            labels=['Underweight', 'Normal', 'Overweight', 'Obese'])

# 3. Decode Age groups for interpretability
age_mapping = {1: '18-24', 2: '25-29', 3: '30-34', 4: '35-39', 5: '40-44',
               6: '45-49', 7: '50-54', 8: '55-59', 9: '60-64', 10: '65-69',
               11: '70-74', 12: '75-79', 13: '80+'}
df_cleaned['Age_Group'] = df_cleaned['Age'].map(age_mapping)

# 4. Income levels (for disparity analysis)
income_mapping = {1: '<$10k', 2: '$10k-15k', 3: '$15k-20k', 4: '$20k-25k',
                  5: '$25k-35k', 6: '$35k-50k', 7: '$50k-75k', 8: '$75k+'}
df_cleaned['Income_Level'] = df_cleaned['Income'].map(income_mapping)

# 5. Healthcare access composite
df_cleaned['Healthcare_Barrier'] = (
    (df_cleaned['AnyHealthcare'] == 0).astype(int) +
    (df_cleaned['NoDocbcCost'] == 1).astype(int)
)

df_cleaned.head()

,Diabetes_binary,HighBP,HighChol,BMI,Smoker,PhysActivity,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,Sex,Age,Education,Income,Fruits_or_Veggies,Behavioral_Risk_Score,BMI_Category,Age_Group,Income_Level,Healthcare_Barrier
0,0.0,1.0,1.0,40.0,1.0,0.0,0.0,1.0,0.0,5.0,0.0,9.0,4.0,3.0,1,2,Obese,60-64,$15k-20k,0
1,0.0,0.0,0.0,25.0,1.0,1.0,0.0,0.0,1.0,3.0,0.0,7.0,6.0,1.0,0,2,Normal,50-54,<$10k,2
2,0.0,1.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,5.0,0.0,9.0,4.0,8.0,1,1,Overweight,60-64,$75k+,1
3,0.0,1.0,0.0,27.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,11.0,3.0,6.0,1,0,Overweight,70-74,$35k-50k,0
4,0.0,1.0,1.0,24.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,11.0,5.0,4.0,1,0,Normal,70-74,$20k-25k,0

In [30]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Diabetes_binary        253680 non-null  float64
 1   HighBP                 253680 non-null  float64
 2   HighChol               253680 non-null  float64
 3   BMI                    253680 non-null  float64
 4   Smoker                 253680 non-null  float64
 5   PhysActivity           253680 non-null  float64
 6   HvyAlcoholConsump      253680 non-null  float64
 7   AnyHealthcare          253680 non-null  float64
 8   NoDocbcCost            253680 non-null  float64
 9   GenHlth                253680 non-null  float64
 10  Sex                    253680 non-null  float64
 11  Age                    253680 non-null  float64
 12  Education              253680 non-null  float64
 13  Income                 253680 non-null  float64
 14  Fruits_or_Veggies      253680 non-null  int64
 15  Behavioral_Risk_Score  253680 non-null  int64
 16  BMI_Category           253680 non-null  category
 17  Age_Group              253680 non-null  object
 18  Income_Level           253680 non-null  object
 19  Healthcare_Barrier     253680 non-null  int64
dtypes: category(1), float64(14), int64(3), object(2)
memory usage: 37.0+ MB

In [31]:
df_cleaned.describe()

,Diabetes_binary,HighBP,HighChol,BMI,Smoker,PhysActivity,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,Sex,Age,Education,Income,Fruits_or_Veggies,Behavioral_Risk_Score,Healthcare_Barrier
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,0.139333,0.429001,0.424121,28.382364,0.443169,0.756544,0.056197,0.951053,0.084177,2.511392,0.440342,8.032119,5.050434,6.053875,0.883109,0.859713,0.133124
std,0.346294,0.494934,0.494210,6.608694,0.496761,0.429169,0.230302,0.215759,0.277654,1.068477,0.496429,3.054220,0.985774,2.071148,0.321291,0.834608,0.389235
min,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,24.000000,0.000000,1.000000,0.000000,1.000000,0.000000,2.000000,0.000000,6.000000,4.000000,5.000000,1.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,27.000000,0.000000,1.000000,0.000000,1.000000,0.000000,2.000000,0.000000,8.000000,5.000000,7.000000,1.000000,1.000000,0.000000
75%,0.000000,1.000000,1.000000,31.000000,1.000000,1.000000,0.000000,1.000000,0.000000,3.000000,1.000000,10.000000,6.000000,8.000000,1.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,98.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,1.000000,13.000000,6.000000,8.000000,1.000000,4.000000,2.000000

In [32]:
df_cleaned.to_csv('new/indicator.csv', index=False)